%h1 Listing use_cases

%table.table
  %tr
    %th Key
    %th User
    %th Collector
    %th Collector version
    %th Program
    %th Program version
    %th
    %th
    %th

  - @use_cases.each do |use_case|
    %tr
      %td= use_case.key
      %td= use_case.user_id
      %td= use_case.collector_id
      %td= use_case.collector_version_id
      %td= use_case.program_id
      %td= use_case.program_version_id

%br