%h1 Listing totos

%table
  %tr
    %th Test
    %th Titi
    %th Tutu
    %th
    %th
    %th

  - @totos.each do |toto|
    %tr
      %td= toto.test
      %td= toto.titi
      %td= toto.tutu
      %td= link_to 'Show', toto
      %td= link_to 'Edit', edit_toto_path(toto)
      %td= link_to 'Destroy', toto, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Toto', new_toto_path
