%table.table.table-condensed
  %thead
    %tr
      %th Username
      %th Email
      %th Registered
      %th Role
      %th
      %th
      %th
  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td= user.created_at.to_date
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        %td
          %a{"data-toggle" => "modal", href: "#role-options-#{user.id}", type: "button"} Change role
          = render user
        %td= link_to("Delete user", user_path(user), data: { confirm: "Are you sure?" }, method: :delete) unless user == current_user
        - label = user.locked_at ? "Unlock" : "Lock"
        - locked_at = user.locked_at ? nil : Time.now
        %td= link_to(label, user_path(user, user: { locked_at: locked_at }), method: :patch) unless user == current_user

= will_paginate(users, renderer: WillPaginate::ActionView::LinkRenderer, params: params)
