= form_tag get_key_from_form_use_cases_path, id: "generate-key-form" do
  .form-group
    .row
      * Select a collector :
      = select_tag "collector-list", options_from_collection_for_select(@collectors, "id", "name"), name: "collector_id", class: "form-control"

    .row
      * Select a collector version :
      = select_tag "collector-version-list", options_from_collection_for_select(@collector_versions, "id", "version"), name: "collector_version_id", class: "form-control"
    
    .row
      Select a program : 
      =# TODO : load programs asynchronously in the futur
      = select_tag "program-list", options_from_collection_for_select(Program.all, "id", "name"), include_blank: true, name: "program_id", class: "form-control"

    .row
      Select tags :
      =# TODO : load tags asynchronously in the futur
      = select_tag "tag-list", options_from_collection_for_select(Tag.all, "id", "name"), multiple: true, name: "tag_ids[]", class: "form-control"
    
    %br
    .row
      = submit_tag "Generate key", data: { disable_with: 'Please wait...' }, class: "btn btn-primary"
    
    %br
    .row.alert.alert-success
      %span#use_case_key
        Key :
        %span
    
    .row.alert.alert-success
      %span#download_collector
        Download collector installer :
        %span= link_to  @collector_versions.first.try(:filename), @collector_versions.first.try(:url)