= simple_form_for(@collector) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    
    #versions
      = f.simple_fields_for :collector_versions do |collector_form|
        = render partial: 'collector_version_fields', locals:{f: collector_form}
      .links
        = link_to_add_association 'Add version', f, :collector_versions, class: "btn btn-custom"
  %br
  .form-actions
    = f.button :submit, class: "btn-primary"
