%h1 Listing collectors

%table.table.table-hover
  %tr
    %th Name
    %th Versions
    %th
    %th
    %th

  - @collectors.each do |collector|
    %tr
      %td= collector.name
      %td= collector.collector_versions.map(&:version).join("<br/>").html_safe
      %td= link_to 'Show', collector
      %td= link_to 'Edit', edit_collector_path(collector)
      %td= link_to 'Destroy', collector, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Collector', new_collector_path
