%ul.nav.navbar-nav
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if can? :manage, Collector
      %li
        = link_to 'Collectors', collectors_path
    - if can? :manage, Program
      %li
        = link_to 'Programs', programs_path
    - if can? :manage, Tag
      %li
        = link_to 'Tags', tags_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path

%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li 
      = link_to 'Tasks', tasks_path
    %li
      = link_to 'Logout', destroy_user_session_path, method: 'delete'